In [1]:
import pandas as pd
from pandas import Series, DataFrame
import numpy as np
import matplotlib.pyplot as plt
from unicodedata import normalize

In [2]:
dir_path = 'olympics/'
medals = pd.read_csv('{}{}'.format(dir_path, 'olympics.csv'),index_col=0, header=1, skiprows=0)
col_names = {
    '01 !': 'Gold',
    '02 !': 'Silver',
    '03 !': 'Bronze',
    '01 !.1': 'Gold.1',
    '02 !.1': 'Silver.1',
    '03 !.1': 'Bronze.1',
    '01 !.2': 'Gold.2',
    '02 !.2': 'Silver.2',
    '03 !.2': 'Bronze.2'
}
medals = medals.rename(columns = col_names)
# import simplejson
# f = open('output.txt', 'w')
# simplejson.dump(list(medals.index), f)
# f.close()

In [3]:
arr = medals.index.str.split('(')
arr[0][0].strip()

'Afghanistan'

In [4]:
medals.index = [arr[0].strip() for arr in medals.index.str.split('(')]
# medals

In [5]:
medals2 = medals.drop('Totals')

In [6]:
medals2

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12
Australia,25,139,152,177,468,18,5,3,4,12,43,144,155,181,480
Austria,26,18,33,35,86,22,59,78,81,218,48,77,111,116,304
Azerbaijan,5,6,5,15,26,5,0,0,0,0,10,6,5,15,26
Bahamas,15,5,2,5,12,0,0,0,0,0,15,5,2,5,12
Bahrain,8,0,0,1,1,0,0,0,0,0,8,0,0,1,1
Barbados,11,0,0,1,1,0,0,0,0,0,11,0,0,1,1
Belarus,5,12,24,39,75,6,6,4,5,15,11,18,28,44,90
Belgium,25,37,52,53,142,20,1,1,3,5,45,38,53,56,147
Bermuda,17,0,0,1,1,7,0,0,0,0,24,0,0,1,1
Bohemia,3,0,1,3,4,0,0,0,0,0,3,0,1,3,4
Botswana,9,0,1,0,1,0,0,0,0,0,9,0,1,0,1
Brazil,21,23,30,55,108,7,0,0,0,0,28,23,30,55,108
British West Indies,1,0,0,2,2,0,0,0,0,0,1,0,0,2,2
Bulgaria,19,51,85,78,214,19,1,2,3,6,38,52,87,81,220
Burundi,5,1,0,0,1,0,0,0,0,0,5,1,0,0,1
Cameroon,13,3,1,1,5,1,0,0,0,0,14,3,1,1,5
Canada,25,59,99,121,279,22,62,56,52,170,47,121,155,173,449
Chile,22,2,7,4,13,16,0,0,0,0,38,2,7,4,13
China,9,201,146,126,473,10,12,22,19,53,19,213,168,145,526
Colombia,18,2,6,11,19,1,0,0,0,0,19,2,6,11,19
Costa Rica,14,1,1,2,4,6,0,0,0,0,20,1,1,2,4
Ivory Coast,12,0,1,0,1,0,0,0,0,0,12,0,1,0,1
Croatia,6,6,7,10,23,7,4,6,1,11,13,10,13,11,34
Cuba,19,72,67,70,209,0,0,0,0,0,19,72,67,70,209
Cyprus,9,0,1,0,1,10,0,0,0,0,19,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Spain,22,37,59,35,131,19,1,0,1,2,41,38,59,36,133
Sri Lanka,16,0,2,0,2,0,0,0,0,0,16,0,2,0,2
Sudan,11,0,1,0,1,0,0,0,0,0,11,0,1,0,1
Suriname,11,1,0,1,2,0,0,0,0,0,11,1,0,1,2
Sweden,26,143,164,176,483,22,50,40,54,144,48,193,204,230,627
Switzerland,27,47,73,65,185,22,50,40,48,138,49,97,113,113,323
Syria,12,1,1,1,3,0,0,0,0,0,12,1,1,1,3
Chinese Taipei,13,2,7,12,21,11,0,0,0,0,24,2,7,12,21
Tajikistan,5,0,1,2,3,4,0,0,0,0,9,0,1,2,3
Tanzania,12,0,2,0,2,0,0,0,0,0,12,0,2,0,2
Thailand,15,7,6,11,24,3,0,0,0,0,18,7,6,11,24
Togo,9,0,0,1,1,1,0,0,0,0,10,0,0,1,1
Tonga,8,0,1,0,1,1,0,0,0,0,9,0,1,0,1
Trinidad and Tobago,16,2,5,11,18,3,0,0,0,0,19,2,5,11,18
Tunisia,13,3,3,4,10,0,0,0,0,0,13,3,3,4,10
Turkey,21,39,25,24,88,16,0,0,0,0,37,39,25,24,88
Uganda,14,2,3,2,7,0,0,0,0,0,14,2,3,2,7
Ukraine,5,33,27,55,115,6,2,1,4,7,11,35,28,59,122
United Arab Emirates,8,1,0,0,1,0,0,0,0,0,8,1,0,0,1
United States,26,976,757,666,2399,22,96,102,84,282,48,1072,859,750,2681
Uruguay,20,2,2,6,10,1,0,0,0,0,21,2,2,6,10
Uzbekistan,5,5,5,10,20,6,1,0,0,1,11,6,5,10,21
Venezuela,17,2,2,8,12,4,0,0,0,0,21,2,2,8,12
Vietnam,14,0,2,0,2,0,0,0,0,0,14,0,2,0,2
Virgin Islands,11,0,1,0,1,7,0,0,0,0,18,0,1,0,1
Yugoslavia,16,26,29,28,83,14,0,3,1,4,30,26,32,29,87
Independent Olympic Participants,1,0,1,2,3,0,0,0,0,0,1,0,1,2,3
Zambia,12,0,1,1,2,0,0,0,0,0,12,0,1,1,2
Zimbabwe,12,3,4,1,8,1,0,0,0,0,13,3,4,1,8
Mixed team,3,8,5,4,17,0,0,0,0,0,3,8,5,4,17

In [7]:
medals2['Combined total'].idxmax()

'United States'

In [8]:
medals.iloc[0]

# Summer          13
Gold               0
Silver             0
Bronze             2
Total              2
# Winter           0
Gold.1             0
Silver.1           0
Bronze.1           0
Total.1            0
# Games           13
Gold.2             0
Silver.2           0
Bronze.2           2
Combined total     2
Name: Afghanistan, dtype: int64

In [9]:
medals2['Gold'].idxmax()

'United States'

In [10]:
(medals2['Gold'] - medals2['Gold.1']).abs().idxmax()

'United States'

In [15]:
Points = medals2['Gold.2'] * 3 + medals2['Silver.2'] * 2 + medals2['Bronze.2']

In [16]:
Points['Australia']

923

In [14]:
xyz = res.loc[['Australia']]
xyz

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total
Australia,25,139,152,177,468,18,5,3,4,12,43,144,155,181,480

In [ ]:
pd.__version__