In [12]:
s1 = ('sandip', 10, 'm') 
print type(s1)
print s1
'''
- tuples are immutable

'''

<type 'tuple'>
('sandip', 10, 'm')

'\n- tuples are immutable\n\n'

In [7]:
len(s1)

3

In [10]:
print s1[0]

mehul

In [13]:
for i in s1:
    print i

sandip
10
m

In [20]:
t2 = ('single item in a tuple')
print type(s2) # Single element tuples become a string

<type 'str'>

In [23]:
t3 = ('Single item with a comma',)
print type(t3) # Becomes a tuple

<type 'tuple'>

In [29]:
t4 = ('movie1', ['9.30', '1,30', '4,30'])
t4[1][0] = '9.45' # list inside a tuple can be modified
t4

('movie1', ['9.45', '1,30', '4,30'])