In [10]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [21]:
data = [['a','b',0,1,1,0,1],['a','c',0,1,2,1,1]]
cols = ['Name','city','0','1','2','3','4']

In [22]:
df = pd.DataFrame(data=data, columns=cols)
df

  Name city  0  1  2  3  4
0    a    b  0  1  1  0  1
1    a    c  0  1  2  1  1

In [25]:
df2 = df.groupby('Name').sum().copy()
df2

      0  1  2  3  4
Name
a     0  2  3  1  2

In [26]:
df2[df2 != 0] = 1

In [27]:
df2

      0  1  2  3  4
Name
a     0  1  1  1  1