In [3]:
l = [1,2,3,4]
sl = []
for x in l:
    sl.append(x ** 2)
    
sl2 = [x**2 for x in l]
sl2

[1, 4, 9, 16]

In [8]:
l2d = [l,l,l,l]
sl = []
for row in l2d:
    for item in row:
        sl.append(item ** 2)
sl2 = [item ** 2 for row in l2d for item in row]
sl2

[1, 4, 9, 16, 1, 4, 9, 16, 1, 4, 9, 16, 1, 4, 9, 16]

In [11]:
dic = {}
for x in range(26):
    dic[x] = x ** 3
dic

{0: 0,
 1: 1,
 2: 8,
 3: 27,
 4: 64,
 5: 125,
 6: 216,
 7: 343,
 8: 512,
 9: 729,
 10: 1000,
 11: 1331,
 12: 1728,
 13: 2197,
 14: 2744,
 15: 3375,
 16: 4096,
 17: 4913,
 18: 5832,
 19: 6859,
 20: 8000,
 21: 9261,
 22: 10648,
 23: 12167,
 24: 13824,
 25: 15625}

In [15]:
dic2 = {x:x**3 for x in range(26) if x % 2 == 0}
dic2

{0: 0,
 2: 8,
 4: 64,
 6: 216,
 8: 512,
 10: 1000,
 12: 1728,
 14: 2744,
 16: 4096,
 18: 5832,
 20: 8000,
 22: 10648,
 24: 13824}

In [16]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns